.navbar {
  height: $nav-size;
  background-color: $overal-background-color;
  padding: 0 1rem;
  border-bottom: $border;
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.nav-item {
  width: calc($nav-size * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-button {
    $button-size: calc(var($nav-size) * 0.5);
    width: $button-size;
    height: $button-size;
    background-color: rgb(179, 176, 176);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button:hover {
    filter: brightness(1.2);
  }
  .icon-button svg {
    fill: $overal-text-color;
    width: 20px;
    height: 20px;
  }
}

// dropwdown menu
.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: $overal-background-color;
  border: $border;
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  transition: background $speed;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: grey;
}

.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed ease;
}
