.navbar {
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .navbar-contentContainer {
    width: 90%;
    height: $nav-size;
    background-color: transparent;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .navbar-nav {
      max-width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.nav-item {
  width: calc(#{$nav-size} * 1.8);
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid red 1px;

  .name-button {
    border: $border;
    position: relative;
    // $button-size: calc(#{$nav-size} * 0.5);
    width: calc(#{$nav-size} * 1.7);
    // height: $button-size;
    background-color: transparent;
    // border-radius: 20px;
    padding: 9px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    &:hover,
    &:focus {
      color: rgb(0, 0, 0);
      filter: brightness(1.2);
    }
    &:hover::before,
    &:focus::before {
      transform: scaleX(1);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: $overall-text-color;
      transition: transform 300ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }
  }
  // .name-button:hover {
  //   filter: brightness(1.2);
  // }
  .name-button svg {
    fill: $overall-text-color;
    width: 20px;
    height: 20px;
  }
}

// logo svg

// navbar-burger
.navbar-burger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 1.7rem;
  z-index: 5;
  display: none;
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
  .line {
    // width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transition: all 0.3s linear;
    background-color: $overall-text-color;
  }
  .nav-open {
    // width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: $overall-text-color;
    transition: all 0.3s linear;
    &:nth-child(1) {
      transform: rotate(45deg) translateY(9px);
    }
    &:nth-child(2) {
      transform: translateX(100%);
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translateY(-9px);
    }
  }
}

// dropwdown menu
.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: $overall-background-color;
  border: $border;
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  transition: background $speed;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: grey;
}

.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed ease;
}
