// variables
$overall-background-color: #000000;
$overall-text-color: #03A062;
$title-text-color: rgb(25, 149, 25);

// navbar
$nav-size: 80px;
$border: 2px solid #03A062;
$border-radius: 20px;
$speed: 500ms;
