// variables
$overal-background-color: #464646;
$overal-text-color: rgb(25, 149, 25);
$title-text-color: rgb(25, 149, 25);

// navbar
$nav-size: 60px;
$border: 1px solid black;
$border-radius: 8px;
$speed: 500ms;
